.css_id_inv_curso_fk_label, .css_id_inv_curso_fk_label span{ }
.css_id_inv_curso_fk_label span  span{line-height:1.5;}
.css_id_inv_curso_fk_line, .css_id_inv_curso_fk_line >span{ }
.css_id_inv_curso_fk_line span  span{line-height:1.5;}
.css_id_inv_curso_fk_obj, .css_id_inv_curso_fk_obj span{ }
.css_id_inv_curso_fk_obj span  span{line-height:1.5;}
.css_horas_part_label, .css_horas_part_label span{ }
.css_horas_part_label span  span{line-height:1.5;}
.css_horas_part_line, .css_horas_part_line >span{text-align:left;}
.css_horas_part_line span  span{line-height:1.5;}
.css_horas_part_obj, .css_horas_part_obj span{text-align:left;}
.css_horas_part_obj span  span{line-height:1.5;}
.css_alimentos_label, .css_alimentos_label span{ }
.css_alimentos_label span  span{line-height:1.5;}
.css_alimentos_line, .css_alimentos_line >span{text-align:left;}
.css_alimentos_line span  span{line-height:1.5;}
.css_alimentos_obj, .css_alimentos_obj span{text-align:left;}
.css_alimentos_obj span  span{line-height:1.5;}
.css_hosp_ent_label, .css_hosp_ent_label span{ }
.css_hosp_ent_label span  span{line-height:1.5;}
.css_hosp_ent_line, .css_hosp_ent_line >span{ }
.css_hosp_ent_line span  span{line-height:1.5;}
.css_hosp_ent_obj, .css_hosp_ent_obj span{ }
.css_hosp_ent_obj span  span{line-height:1.5;}
.css_hosp_sal_label, .css_hosp_sal_label span{ }
.css_hosp_sal_label span  span{line-height:1.5;}
.css_hosp_sal_line, .css_hosp_sal_line >span{ }
.css_hosp_sal_line span  span{line-height:1.5;}
.css_hosp_sal_obj, .css_hosp_sal_obj span{ }
.css_hosp_sal_obj span  span{line-height:1.5;}
.css_transp_terr_label, .css_transp_terr_label span{ }
.css_transp_terr_label span  span{line-height:1.5;}
.css_transp_terr_line, .css_transp_terr_line >span{text-align:left;}
.css_transp_terr_line span  span{line-height:1.5;}
.css_transp_terr_obj, .css_transp_terr_obj span{text-align:left;}
.css_transp_terr_obj span  span{line-height:1.5;}
.css_transp_aer_label, .css_transp_aer_label span{ }
.css_transp_aer_label span  span{line-height:1.5;}
.css_transp_aer_line, .css_transp_aer_line >span{text-align:left;}
.css_transp_aer_line span  span{line-height:1.5;}
.css_transp_aer_obj, .css_transp_aer_obj span{text-align:left;}
.css_transp_aer_obj span  span{line-height:1.5;}
.css_trans_aer_ida_label, .css_trans_aer_ida_label span{ }
.css_trans_aer_ida_label span  span{line-height:1.5;}
.css_trans_aer_ida_line, .css_trans_aer_ida_line >span{ }
.css_trans_aer_ida_line span  span{line-height:1.5;}
.css_trans_aer_ida_obj, .css_trans_aer_ida_obj span{ }
.css_trans_aer_ida_obj span  span{line-height:1.5;}
.css_trans_aer_vuelta_label, .css_trans_aer_vuelta_label span{ }
.css_trans_aer_vuelta_label span  span{line-height:1.5;}
.css_trans_aer_vuelta_line, .css_trans_aer_vuelta_line >span{ }
.css_trans_aer_vuelta_line span  span{line-height:1.5;}
.css_trans_aer_vuelta_obj, .css_trans_aer_vuelta_obj span{ }
.css_trans_aer_vuelta_obj span  span{line-height:1.5;}
.css_notas_label, .css_notas_label span{ }
.css_notas_label span  span{line-height:1.5;}
.css_notas_line, .css_notas_line >span{ }
.css_notas_line span  span{line-height:1.5;}
.css_notas_obj, .css_notas_obj span{ }
.css_notas_obj span  span{line-height:1.5;}
