.css_id_inv_curso_fk_label { }
.css_id_inv_curso_fk_line { }
.css_id_inv_curso_fk_obj { }
.css_horas_part_label { }
.css_horas_part_line {text-align:left;}
.css_horas_part_obj {text-align:left;}
.css_alimentos_label { }
.css_alimentos_line {text-align:left;}
.css_alimentos_obj {text-align:left;}
.css_hosp_ent_label { }
.css_hosp_ent_line { }
.css_hosp_ent_obj { }
.css_hosp_sal_label { }
.css_hosp_sal_line { }
.css_hosp_sal_obj { }
.css_transp_terr_label { }
.css_transp_terr_line {text-align:left;}
.css_transp_terr_obj {text-align:left;}
.css_transp_aer_label { }
.css_transp_aer_line {text-align:left;}
.css_transp_aer_obj {text-align:left;}
.css_trans_aer_ida_label { }
.css_trans_aer_ida_line { }
.css_trans_aer_ida_obj { }
.css_trans_aer_vuelta_label { }
.css_trans_aer_vuelta_line { }
.css_trans_aer_vuelta_obj { }
.css_notas_label { }
.css_notas_line { }
.css_notas_obj { }
